mat-sidenav {
  width: 250px;
  border-right: none;
  background: #fff;
  padding: 1rem 0;
  text-align: left;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & span {
      font-size: 20px;
    }
  }
}

.is-active {
  background-color: royalblue;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 2px;

  & span, mat-icon {
    color: #fff;
  }
}
